Inventario 3.0(NF)/Inventario 3.0/Service References/ServidorVarelec/hello31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://25.109.196.97/hello?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IngresarFacturaIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="factura" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarFacturaIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngresarFacturaIngresoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="facturasIngresoResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="facturasIngresoResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facturasIngresoResumenResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresoPMP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoE" type="xs:int" />
        <xs:element minOccurs="0" name="EoS" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="precioFTR" type="xs:int" />
        <xs:element minOccurs="0" name="precioEXP" type="xs:int" />
        <xs:element minOccurs="0" name="moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresoPMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresoPMPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPMP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPMPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerPMPResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="online">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="onlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="onlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventarioAgregarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventarioModificarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fila" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventarioEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioNVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioNVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventarioNVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioObtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="inventarioObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventarioObtenerResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientesAgregarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientesModificarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fila" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientesEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesNVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesNVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientesNVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesObtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="clientesObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientesObtenerResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosAgregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosAgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosAgregarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fila" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosModificarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fila" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosEliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosNVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosNVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosNVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosObtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="usuariosObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuariosObtenerResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="escribirMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entrada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="escribirMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="escribirMemoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMemosGenrales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMemosGenralesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerMemosGenralesResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarCotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cotizacion" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="guardarCotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guardarCotizacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaCotizaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaCotizacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listaCotizacionesResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerFacturaResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="indicadoresEconomicos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="indicadoresEconomicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indicadoresEconomicosResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setearIndicadoresEconomicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dolar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="euro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="importe" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setearIndicadoresEconomicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setearIndicadoresEconomicosResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarFacturaLiberada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="factura" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarFacturaLiberadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarFacturaLiberadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarFacturaPorCotizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ingresarFacturaPorCotizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingresarFacturaPorCotizacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="facturasResumen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="mes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="facturasResumenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facturasResumenResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarActualizacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarActualizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarActualizacionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subirActualizacionAServidor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="subirActualizacionAServidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subirActualizacionAServidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>